# Basic
black==19.10b0
flake8==7.0.0
pylint==3.1.0
python-dotenv


# FILE OPERATION
python_docx==1.1.2
PyPDF2==3.0.1

# APP 
crewai==0.35.8
crewai_tools==0.4.6

# LANGCHAIN
langchain==0.1.20
langchain-community==0.0.38
langchain-anthropic==0.1.13
langchain-google-community==1.0.4
langchain-openai==0.1.7
langchain_groq==0.9.0