# OpenAI API credentials
OPENAI_API_KEY=your_openai_api_key_here

# Anthropic API credentials
ANTHROPIC_API_KEY=your_anthropic_api_key_here

# Search API credentials
TAVILY_API_KEY=your_tavily_api_key_here
SERPER_API_KEY=your_serper_api_key_here

# Vector store settings
VECTOR_STORE_DIR=./src/data/chroma_db

# Email settings
GOOGLE_APP_CREDENTIALS="./src/config/credentials.json"
GOOGLE_APP_TOKEN = "./src/config/gmail_token.json"
MY_EMAIL = "youremail@domain.com"
INTERVIEW_QUERY_PWD = "your_account_pwd"

# Logging settings
LOG_LEVEL=INFO
LANGCHAIN_TRACING_V2 = "true"
LANGCHAIN_PROJECT = "Tech-Interview"
LANGCHAIN_API_KEY = "your_langchain_api_key"
LANGSMITH_API_KEY = "your_langsmith_api_key"